body {
 text-align: center;
 border: 1px solid black;
 background-image: url(https://www.pexels.com/photo/closeup-photo-of-brown-and-black-dog-face-406014/);
 background-repeat: no-repeat;
 background-attachment: fixed;  
 background-size: cover;
}
